@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: url(https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1360&q=768);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  padding: 16px;
  scroll-behavior: smooth;
}

img {
  width: 150px;
}

h2 {
  padding: 8px;
}

#root {
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.404);
  border: 1px solid rgba(168, 168, 168, 0.322);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  overflow: auto;
  width: 100%;
}

.header {
  align-items: center;
  border-bottom: 1px solid rgba(168, 168, 168, 0.322);
  display: flex;
  justify-content: center;
  padding: 16px;
}

.solar-system {
  border-bottom: 1px solid rgba(168, 168, 168, 0.322);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.solar-system-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  overflow: auto;
}

.missions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.missions-container {
  display: grid;
  flex-wrap: wrap;
  gap: 16px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.mission-card {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 6px;
  box-shadow: rgb(45, 45, 46) 0 10px 30px -10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  transition: all 0.3s;
}

.planet-card:hover,
.mission-card:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.planet-card {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  margin-bottom: 16px;
  padding: 16px;
  transition: all 0.3s;
}

/* Works on Firefox */
* {
  scrollbar-color: blue orange;
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.24);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.178);
  border: 3px solid rgba(63, 63, 63, 0);
}
